*{
    background-color: rgb(33, 33, 33);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#imgContainer{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    z-index: 0;
}
#imgContainer img{
    width: 100%;
    height: auto;
}

#box{
    display: flex;
    text-align: center;
    padding-bottom: 5px;
    z-index: 1;
}

#box p{
    margin: auto;
    background-color: transparent;
    display: flex;
    color: rgb(208, 132, 65);
    text-shadow: 2px 2px 4px black;
    font-size: 20vh;
    font-weight: bold;
    z-index: 1;
}

#myText{
    padding-top: 50px;
    display: flex;
    color: black;
    font-size: 5vh;
    font-weight: bold;
    z-index: 1;
}

#myText p{
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 8vh;
    z-index: 1;
    text-shadow: 2px 2px 4px black;
    background-color: transparent;
}
