<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="{{ url_for('static', filename='css/my404Style.css') }}" rel="stylesheet" />

</head>
<body>
    <div>
        <div id="imgContainer">
            <img src="{{ url_for('static', filename='img/test.png') }}" alt="logo de adoptmania coupé">

        </div>
        <div id="box">
            <p>Oops! <br> Erreur <br> 404</p>
        </div>
        <div id="myText">
            <p>Désolé, nous n'avons pas trouvé cette page!</p>
        </div>
    </div>

</body>
</html>