{% extends "base.html" %}

{% block title %}
Formulaire de mise en adoption
{% endblock %}


{% block content %}
    <h1 id="titre">Formulaire de mise en adoption</h1>
        <div id="my-div-p">
            <p>Remplissez le formulaire ci-dessous pour mettre votre animal en adoption</p>
        </div>
            <form id="my-form" method="post" action="{{ url_for('submit') }}">
                <label for="nom">Nom de l'animal de compagnie :</label>
                <input type="text" id="nom" name="nom">
                <div id="name-error" class="error"></div>
                    <label for="espece">Espece :</label>
                    <input type="text" id="espece" name="espece">
                <div id="espece-error" class="error"></div>
                    <label for="race">Race :</label>
                    <input type="text" id="race" name="race">
                <div id="race-error" class="error"></div>
                    <label for="age">Age :</label>
                    <input type="text" id="age" name="age">
                <div id="age-error" class="error"></div>
                    <label for="description">Description :</label>
                    <input type="text" id="description" name="description">
                <div id="description-error" class="error"></div>
                    <label for="email">Courriel :</label>
                    <input type="email" id="courriel" name="courriel">
                <div id="courriel-error" class="error"></div>
                    <label for="adresse">Adresse :</label>
                    <input type="text" id="adresse" name="adresse">
                <div id="adresse-error" class="error"></div>
                    <label for="ville">Ville :</label>
                    <input type="text" id="ville" name="ville">
                <div id="ville-error" class="error"></div>
                    <label for="cp">Code postal :</label>
                    <input type="text" id="cp" name="cp" placeholder="A1A A1A">
                <div id="cp-error" class="error"></div>
                <br>
                <input id="submit-button" type="submit" value="Envoyer">
            </form>
            
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>    

{% endblock %}