<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de mise en adoption</title>
</head>
<body>
    <h1>Formulaire de mise en adoption</h1>
    <p>Remplissez le formulaire ci-dessous pour mettre votre animal en adoption</p>
    <form action="/submit_form" method="post">
        <label for="nom">Nom de l'animal de compagnie :</label><br>
        <input type="text" id="nom" name="nom"><br>
        <label for="espece">Espece :</label><br>
        <input type="text" id="espece" name="espece"><br>
        <label for="race">Race :</label><br>
        <input type="text" id="race" name="race"><br>
        <label for="age">Age :</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="description">Description :</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="courriel" name="courriel"><br>
        <label for="adresse">Adresse :</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="ville">Ville :</label><br>
        <input type="text" id="ville" name="ville"><br>
        <label for="cp">Code postal :</label><br>
        <input type="text" id="cp" name="cp"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>