{% extends "base.html" %}

{% block title %}
    Page principale
{% endblock %}

{% block content %}

        <div class="container-lg my-3">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                </ol>
                
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='img/carousel1.jpg') }}" class="d-block w-100" alt="Slide 1, image d'un chat">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='img/carousel2.jpg') }}" class="d-block w-100" alt="Slide 2, image d'un chien">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='img/carousel3.jpg') }}" class="d-block w-100" alt="Slide 3, image d'un lapin">
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>

        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Adoptmania</h1>
                            <p class="lead text-white-50 mb-4">Nous sommes ravis de vous accueillir dans notre refuge dédié à l'amour des animaux. <br>
                                Explorez notre site pour découvrir des compagnons fidèles en quête d'un foyer chaleureux. <br>
                                Chaque adoption ici est une histoire d'amour en devenir. <br>
                                Préparez-vous à ouvrir votre cœur et à partager une vie pleine de joie avec nos adorables pensionnaires.<br>
                                Bienvenue dans notre famille, <br>
                                L'équipe du Centre d'Adoption "Adoptmania"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    

        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    {% for animal in animals %}
                    <div class="col-lg-2 mb-5 mb-lg-0">
                        <div class="feature bg-warning bg-gradient text-white rounded-3 mb-3"><i class="bi bi-heart"></i></div>
                        <h2 class="h4 fw-bolder">{{ animal.nom }}</h2>
                        <p>{{ animal.race }} , {{ animal.age }}</p>
                        <a class="text-decoration-none" href="{{ url_for('animal_added', animal_id=animal.id) }}">
                            Click pour plus d'infos
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Testimonials section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Témoignage d'adoptantes</h2>
                    <p class="lead mb-0">Les adoptantes sont 100 % satisfaits!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">"Adopter mon chaton chez "Adoptmania" a été la meilleure décision de ma vie. Il apporte tant de bonheur à la maison avec ses ronronnements et sa personnalité espiègle. Merci de m'avoir aidée à trouver mon compagnon à quatre pattes parfait!"</p>
                                        <div class="small text-muted">- Sophie, Amoureuse de Félins</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">"Notre famille est maintenant complète grâce à l'adoption d'un chien adorable. Il est devenu le meilleur ami de nos enfants et apporte une énergie positive à la maison. Merci au Centre d'Adoption pour cette expérience exceptionnelle."</p>
                                        <div class="small text-muted">- Émile, Une famille complète</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       
{% endblock %}